<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="login-page">
    <div class="background-container">
        <img src="{{ url_for('static', filename='images/Hero.png') }}" alt="Heuro TV Background" class="background-image">
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}" class="login-form">
            <label for="username">Nome de Usuário:</label>
            <div class="input-group">
                <span class="input-icon">👤</span>
                <input type="text" id="username" name="username" required>
            </div>
            <label for="password">Senha:</label>
            <div class="input-group">
                <span class="input-icon">🔒</span>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Lembrar-me</label>
            </div>
            <button type="submit">ENTRAR</button>
        </form>

        <p><a href="{{ url_for('register') }}">Crie uma conta aqui</a></p>
        <p class="copy">2024 Heuro TV</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <audio id="loginMusic" src="{{ url_for('static', filename='music/login-music.mp3') }}" autoplay></audio>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
